# === Telegram Bot ===
TELEGRAM_BOT_TOKEN=8xxxxxxxxY
ALLOWED_USER_ID=2xxx3

# === MikroTik REST API ===
MT_HOST=192.168.88.1
MT_PORT=443
MT_USER=wg-bot
MT_PASSWORD=SuperPass
MT_VERIFY_SSL=false

# === WireGuard Settings ===
WG_INTERFACE=WG_Server
WG_POOL=192.168.220.0/24
WG_POOL_MIN=192.168.220.10
WG_DNS=192.168.220.1
WG_ENDPOINT=192.168.88.1:53254
WG_KEEPALIVE=16
WG_MTU=1280
